In [1]:
import numpy as np 
import pandas as pd 
from scipy.optimize import root

from Simsale import Simsale
from Demand import Demand

## 1.模拟数据 及 待估计参数

In [2]:
sale=Simsale(level_size=[3,2],seed=1)
sale_df = sale.generate_sale(lam=100,size=100,un_ava_frac=0.2,un_ava_mix=True)
# sale_df
print(sale.attr_f_list[0])
print(sale.attr_f_list[1])
print(sale.attr_pi_list[0])
print(sale.attr_pi_list[1])
sale_df

a    0.318605
b    0.591657
c    0.089738
Name: A, dtype: float64
a    0.294888
b    0.705112
Name: B, dtype: float64
          a         b         c
a  1.000000  0.155916  0.211663
b  0.413851  1.000000  0.274797
c  0.013780  0.376757  1.000000
          a         b
a  1.000000  0.226749
b  0.067021  1.000000

    A_a*B_a  A_a*B_b  A_b*B_a  A_b*B_b  A_c*B_a  A_c*B_b
0      16.0     18.0      NaN     32.0      7.0      7.0
0       NaN     21.0     28.0     42.0      1.0      8.0
0       NaN     31.0     11.0     44.0      3.0      7.0
0      10.0     18.0     11.0     33.0      3.0      NaN
0       NaN     28.0     19.0     37.0      2.0      9.0
..      ...      ...      ...      ...      ...      ...
0       5.0     18.0     26.0     51.0      2.0      NaN
0      19.0     23.0      NaN     48.0      1.0      8.0
0      11.0     17.0     15.0     29.0      NaN      8.0
0       6.0     20.0     23.0     45.0      NaN     10.0
0       9.0     23.0     16.0     52.0      NaN     10.0

[100 rows x 6 columns]

## 2.参数估计

In [4]:
mod = Demand(data=sale_df, goods_attr={'A': ['a', 'b','c'], 'B': ['a', 'b']})

# mod.local_optim(method='Nelder-Mead')
mod.fit()
print(mod.theta_hat)
mod.validation(sale,interval=0.1)
mod.init_theta(mod.theta_hat.x,to_goods=False)

None

AttributeError: 'NoneType' object has no attribute 'x'

In [9]:
mod.attr_trans

[      A_a   A_b   A_c
 A_a   NaN  36.0  36.0
 A_b  30.0   NaN  30.0
 A_c  34.0  34.0   NaN,
       B_a   B_b
 B_a   NaN  49.0
 B_b  51.0   NaN]

     out  B_a  B_b
0    1.0  1.0  3.0
1    1.0  2.0  2.0
2    1.0  2.0  2.0
3    0.0  2.0  1.0
4    1.0  3.0  3.0
..   ...  ...  ...
195  1.0  2.0  3.0
196  1.0  3.0  2.0
197  1.0  2.0  2.0
198  1.0  2.0  2.0
199  0.0  1.0  2.0

[200 rows x 3 columns]

In [302]:
trans_in.reindex(['a'],axis=1)

      a
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
..   ..
195 NaN
196 NaN
197 NaN
198 NaN
199 NaN

[200 rows x 1 columns]